@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
p,
span {
  font-family: "Quicksand", sans-serif;
}
@font-face {
  font-family: fontArab;
  src: url("arabic-font.ttf");
}
.arab {
  font-family: fontArab;
}

.link-surat {
  text-decoration: none;
  color: #444;
}

.link-surat:hover {
  color: #222;
}
