@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
@font-face {
  font-family: fontArab;
  src: url("arabic-font.ttf");
}
.arab {
  font-family: fontArab;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #43a047;
  color: #f5f5f5;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.float:hover {
  background-color: #2e7d32;
  color: #fff;
}

.my-float {
  margin-top: 22px;
}

.link-surat {
  text-decoration: none;
  color: #444;
}

.link-surat:hover {
  color: #222;
}
